<?xml version="1.0" encoding="UTF-8"?>

<settings>

    <category label="Accounts">

        <setting
            id="tmdb_api"
            type="text"
            label="TMDb API Key"
            default=""
        />


        <setting
            id="trakt_user"
            type="text"
            label="Trakt Username"
            default=""
        />

    </category>

</settings>